<p>
  <a href="https://www.healthtap.com/" target="_blank">HealthTap</a> aims to make health care affordable and accessible. Through its <a href="https://itunes.apple.com/us/app/healthtap/id466079030?mt=8" target="_blank">mobile app</a>, users can consult with doctors remotely. The product provides 4 ways to reach medical help:
</p>
<ol>
  <li>Send a message to a specific doctor</li>
  <li>Schedule a virtual appointment</li>
  <li>Hop on a call with a doctor online at the moment</li>
  <li>Post an anonymous question</li>
</ol>
<p>
  It's important for the users to know these four options and their prices and triage the best method of consult for their case. The workflow of triaging the best consult method is called <b>Ask Docs</b>. It is the most heavily advertised feature of the HealthTap app.
</p>

<p>My first project at HealthTap was to redesign this flow of the app.</p>

<div class="image-container">
  <img src="/static/img/projects/askdocs/01-old.png" alt="What Ask Docs looked like when I joined">
  <figcaption>What Ask Docs looked like when I joined</figcaption>
</div>

<div class="project-detail-divider"></div>

<h2>Problem</h2>

<h3>1. Low Conversion Rate (< 40%)</h3>

<h4>Users found the flow and the results to be complicated and hard to understand.</h4>
<p>The flow required users to make a series of decisions but the decision points did not reflect the way people usually seek help. And after hurdling through these decision points, the results were often unsatisfying.</p>

<h4>Confusing and unexpectedly changing UI</h4>
<p>The visibility of some features were based on doctors' online availability. Instead of displaying features as inactive, they were hidden away when doctors were offline which made feature discoverability difficult. For example, interviews show that it was difficult for users to learn that the on-demand service offered only when the doctors are online.</p>

<h3>2. Angry Customers</h3>
<h4>Advertised != Actual</h4>
<p>Many of the unhappy reviews on the App Store read: <br/>
<b>"WHERE IS THE FREE OPTION?!"</b></p>
<P>While the app was heavily advertised for its "free" medical consultation, the free option was difficult to find in the app.</P>
<p>Aligning with the user's expectations and clarifying the provided services seemed like a logical improvement.</p>

<div class="image-container">
  <img src="/static/img/projects/askdocs/disection-01.jpg">
  <img src="/static/img/projects/askdocs/disection-02.jpg">
  <img src="/static/img/projects/askdocs/disection-03.jpg">
</div>

<div class="project-detail-divider"></div>

<h2>Steps to solving the problem</h2>

<h3>1. Gather feedback</h3>
<h4>Talk and step through the design with the Customer Success team</h4>
<p>The Customer Success team gathers customer feedback and complaints. Even before actually reaching out to the users, by talking to the team, I was able to map out major problems and confusion on the Ask Docs flow.</p>

<h4>Observational interviews</h4>
<p>I conducted a series of interviews in coffee shops in Palo Alto. Interviewees were first shown the current product. I then gave them a scenario (i.e. tell me how you’d use this app when you found out that you’ve got a rash on your back) and asked them to walk through what they’d do in the current Ask Docs flow.</p>

<div class="slideshow-container">
  <img src="/static/img/projects/askdocs/sketch-01.jpg">
  <img src="/static/img/projects/askdocs/sketch-02.jpg">
</div>

<p>I first started with making minimal tweaks to the existing design:</p>

<div class="image-container">
  <img src="/static/img/projects/askdocs/iteration-01.png">
</div>

<h3>2. Mimic our most natural behavior</h3>

<p>Then I thought about how we usually seek medical help or inquiries. What do I do when I'm sick? When I have backpain? I jotted down the process and doodled the interactions. I compared this to the existing design:</p>

<div class="image-container">
  <img src="/static/img/projects/askdocs/old-vs-new.png">
</div>

<h3>3. Ideate, iterate, and repeat</h3>
<p>As shown in the flow chart above, I wanted the flow to mimic our real life interactions with a doctor. I made the following major changes to the flow:</p>
<ul>
  <li>Start with asking about their concern</li>
  <li>Provide a list of options to choose from</li>
  <li>Display doctors sorted by relevance, availability, and location</li>
  <li>Remove all marketing/internal jargon</li>
  <li>Minimize information overload</li>
</ul>

<div class="image-container">
  <img src="/static/img/projects/askdocs/iteration-02.png">
</div>

<p>After outlining the main flow, I iterated on smaller details.</p>

<div class="slideshow-container">
  <img src="/static/img/projects/askdocs/iteration-04.png">
  <img src="/static/img/projects/askdocs/iteration-03.png">
</div>

<div class="project-detail-divider"></div>

<h2 class="final-design">Final Design</h2>
<div class="image-container">
  <img src="/static/img/projects/askdocs/final-flow.jpg">
  <img src="/static/img/projects/askdocs/disection.jpg">
</div>

<div class="image-container">
  <img src="/static/img/projects/askdocs/07-b.png">
</div>

<div class="project-detail-divider"></div>

<h2>Outcomes</h2>

<h3>Metrics Improvements</h3>
<ul>
  <li>Conversion rate increased by 50%</li>
  <li>Net promoter score nearly doubled</li>
  <li>Number of angry comments on the App Store reduced</li>
</ul>

<h3>Qualitative Improvements</h3>
<ul>
  <li>Users able to easily find what they were looking for within the UI</li>
  <li>Better alignment between product offering and user expectations</li>
</ul>

<div class="project-detail-divider"></div>

<h2>Next steps</h2>
<p>Due to development prorities and timelines, some of the features, like the quick filter, did not ship. My goal is to continue the iterative process since there is still plenty of room for improvement. The good news is that our users are a lot less unahppy or confused about the Ask Docs flow.</p>
