<p>
  HealthTap partnered with a global healthcare organization to create a holistic, interactive system between the care provider and patients. Care plans is a method for doctors to help patients stay healthy after they leave their office by keeping track of things like prescribed medicine intake and interjecting if patients fall of rails. Interjections can be as simple as a reminder to take medication. Or it can be as complex and multi-faceted as a guideline for diabetic patients to follow based on their blood glucose readings.
</p>

<h2>Problem</h2>
<p>
  In order to provide continuous care, doctors need a tool to create this care journey. This tool needs to provide a set of actionable items for patients to follow and a set of rules that define what actions to follow. This is the <b>authoring</b> part of care plans.
</p>
<p><a href="">[Click here for the management side of care plans]</a></p>

<img src="/static/img/projects/authoring/example-careplan.png" alt="Example of an authored care plan">
<figcaption>Example of an authored care plan</figcaption>

<h2>Vision</h2>
<p>In order to build a proactive health care, I wanted to design a set of tools that was</p>

<p><b>Intuitive</b></p>
<p>
  Current EMR, EHR, and PHR are very heavy and clunky. None of them really speak to each other. Hence, there is a huge gap in the workflow at hospitals and clinics.
</p>

<p><b>Holistic</b></p>
<p>
  Current EMR, EHR, and PHR are very heavy and clunky. None of them really speak to each other. Hence, there is a huge gap in the workflow at hospitals and clinics. There is no single system has all the functionalities together.
</p>

<p><b>Consolidated</b></p>

<h2>Role</h2>
<p>
  I worked closely with a product manager in the early stages to create a compelling design solution for our enterprise partner. We outlined all the different attributes for actions, triggers, and interventions. I focused more on web/desktop design framework as this was going to be mainly part of an enterprise admin tool solution initially. Design consisted of early wireframes that were shared with stakeholders, various iterations for internal reviews, and final design prototypes and assets for the partner and our engineering team.
</p>

<h2>Research</h2>
<p>
  We asked our doctors to create general Care Plans for these 4 conditions: Pregnancy, HIV, Diabetes Type II, and Hypertension. We didn’t ask them what features or functions they’d like to see. We first gathered raw data and identified the shared and distinguished characteristics of each condition. Then, we created a spec document that listed all the product and feature requirements. This document was then shared with the doctor group to make sure this covers their use cases. We went through multiple iterations and this process helped tremendously in solidifying the product and everyone’s understanding of the product vision.
</p>

<h2>Discovery</h2>
<p>Here is what we learned from our research and iterative feedback process.</p>
<p>
  Care Plans basically have 2 components: actions and triggers. Actions define “what” patient needs to do. Triggers define “when” patient does the actions. An example can be: patient must schedule a visit with their primary care provider (what) a month after they enroll in the care plan (when). Or patient must schedule a visit with a Podiatrist (what) when they experience their feet swelling(when). Triggers can be time-based or event-based.
</p>

<img src="/static/img/projects/authoring/components.png" alt="Care plan decomposition">
<figcaption>Care plan decomposition</figcaption>

<p>
  These actions and triggers can have endless number of types. Yet, we wanted to focus on a small set of necessities first. Our goal wasn’t to conquer all fields of medicine; our goal was to focus on a small number of conditions first, strengthen that, and expand from there. Hence, we limited the number of action and trigger types. We also learned that there is no such “onesize-fits-all” model when it comes to Care Plans. Each plan must be modified per patient’s health records. For example, ways to manage type II diabetes are very, very different for a man in his 60s and a pregnant mom in her 30s.
</p>

<img src="/static/img/projects/authoring/discovery.png" alt="Findings from our iterations with doctors">
<figcaption>Findings from our iterations with doctors</figcaption>

<h2>Design Process</h2>

<p>Here are the key decisions we made to keep the product simple and user-friendly:</p>

<p><b>Limit the number of action types to reduce complexity</b></p>
<p>We finalized on the following 5 actions types: medication, general todo, appointment, measurement, and alert.</p>

<p><b>2 types of care plans, wellness and condition-based</b></p>
<ul>
  <li>Both types are created by doctors.</li>
  <li>While wellness plans can be self-enrolled by patients, condition-based ones can only be assigned by a doctor</li>
</ul>

<p><b>Condition-based Care Plans will have at least one key metric to track</b></p>
<p>i.e. fasting blood glucose level for diabetes</p>

<p><b>Doctors will always be supplied with a generic template to start with, never from a complete scratch</b></p>
<p>
  While we strongly believe in diversifying the content, we believed that it was a bit early to have everything depend on the author. The author can always remove and create their own content but we believed it’d be great to start with some baseline template so that it’s not overwhelming or time-consuming
</p>

<h3>Iterations</h3>

<p>
  Although we had a list of requirements and specificiations outlined with potential users, there were a few concepts specifically requested by the stakeholders. Hence, inital wireframes were very far from the vision and goals I had set up originally.
</p>

<img src="/static/img/projects/authoring/iteration1.png" alt="">
<figcaption>Findings from our iterations with doctors</figcaption>

<img src="/static/img/projects/authoring/iteration1.png" alt="">
<figcaption>Findings from our iterations with doctors</figcaption>

<img src="/static/img/projects/authoring/iteration1.png" alt="">
<figcaption>Findings from our iterations with doctors</figcaption>

<img src="/static/img/projects/authoring/iteration1.png" alt="">
<figcaption>Findings from our iterations with doctors</figcaption>

<img src="/static/img/projects/authoring/iteration1.png" alt="">
<figcaption>Findings from our iterations with doctors</figcaption>

<img src="/static/img/projects/authoring/iteration1.png" alt="">
<figcaption>Findings from our iterations with doctors</figcaption>

<img src="/static/img/projects/authoring/iteration1.png" alt="">
<figcaption>Findings from our iterations with doctors</figcaption>

<p>
  As shown above, initial draft had no real visualization of how the actions and triggers were laid out. It also was very complex. There were a lot of trigger types and numerous steps that were unnecessary for the beta release.
</p>

<p>
  I was personally very dissappointed with this direction. Fortunately, the stakeholders also saw that this was quite different from the initial conversations and understood that this was different from what the actual users (the doctors) needed. So I went back and did another set of iterations.
</p>

<img src="/static/img/projects/authoring/iteration3.png" alt="">
<figcaption>Mocks from the second iteration</figcaption>

<p>
  After the new direction was signed off, I worked closely with our team and the doctors to crystalize the design. I also learned that the user group I’m targeting is very different from what I assuemd. Because doctors work in such tight schedule and are used to the clunky, slow softwares, they preferred things to be bigger, bolder, and more obvious. For instance, they always preferred color-coding and highlighting clickable areas.
</p>


<h2>Final Design</h2>
<p>
  The most important part of the final design was the visualization of the Care Plan. Essentially, Care Plan is a personalized and guided map for a patient’s journey in combating or managing a condition. It was important for the author to understand how the actions and triggers are connected; “X” behavior of a patient will trigger “Y” actions.
</p>

<img src="/static/img/projects/authoring/final1.png" alt="Finalized authoring flow">
<figcaption>Finalized authoring flow</figcaption>

<img src="/static/img/projects/authoring/final2.png" alt="Finalized authoring flow">
<figcaption>Finalized authoring flow</figcaption>

<h2>Next Steps</h2>
<p>
There still are a number of features and enhancements the tool needs. Because majority of the partner’s and our doctors use desktop computer in their offices, we decided to keep this web and desktop based tool. It’d be great to add desktop-specific features, such as keyboard shortcuts. On the other hand, this Authoring Tool should be accessible anywhere. Although, it may be difficult to create a plan on a mobile device, it should still be supported via mobile and tablet app.
</p>











