<h2>TL;DR</h2>

<h4>Goal</h4>
<p>To create a tool for doctors to author holistic and interactive Care Plans.</p>

<h4>What is a Care Plan?</h4>
<ul>
  <li>A Care Plan is a guide design by a medical provider to help a patient manage his or her condition</li>
  <li>Provides preventative measures, such as medication, measurement, and/or appointment reminders</li>
  <li>Can also provide reactive measures, such as an alerting system for an emergency</li>
</ul>

<h4>Challenges</h4>
<ul>
  <li>A very wide project scope. Can easily spiral out of control, duct taping features left and right</li>
  <li>Research in user needs and workflow is crucial</li>
</ul>

<h4>Scoping</h4>
<ul>
  <li>Restricted the project to focus on a few selected conditions and targed a small group of patients already enrolled in Care Plans</li>
  <li>Defined the language of Care Plans</li>
  <li>Shifted from a highly technical and complex solution to a deliberately simple one</li>
</ul>

<h4>Final Design ✨</h4>

<h2>What is a Care Plan? And Why Do We Need It?</h2>

<p>Patients' interactions with doctors are short, sparse, and often reactive. As a result, doctors don't have enough information to provide holistic care. HealthTap partnered with a global health care provider to tackle this problem together.</p>

<p>A Care Plan is a guide designed by a medical provider for a patient to help that patient manage his or her condition. It can provide preventative measures, such as medication, measurements, and/or appointment reminders. It can also provide reactive measures, such as an alerting system for an emergency.</p>

<img src="/static/img/projects/authoring/sketch-0.png" alt="Initial workflow sketches">
<figcaption>Initial workflow sketches</figcaption>

<h2>Challenges</h2>

<p>One of the things I quickly learned in the project was how complex a Care Plan can be. On one end, there are things like "5 steps to combat sunburn". One the other, it could be treating a 65 year old woman with hypertension and cancer history, treating type 2 diabetes.</p>

<p>In order to keep the project within reasonable scope, we decided to focus on a small set of medical conditions for the beta launch. We would receive feedback from the beta and iteratively add support more conditions.</p>

<h2>Scoping</h2>

<p>We focused on just 4 medical conditions:</p>
<ul>
  <li>Pregnancy</li>
  <li>HIV</li>
  <li>Type 2 diabetes</li>
  <li>Hypertention</li>
</ul>

<p>We also worked with a <b>small group of patients</b> part of a similar medical program with our partner care provider who were able to provide quick feedback. In addition to receiving feedback from the users, we collaborated closely with experts in our doctor network.</p>

<h2>Discovery</h2>

<h4>Care Plan language</h4>
<p>Care Plans have 2 components:</p>
<ul>
  <li><b>Trigger</b> - defines "when" a patient need to take action(s)</li>
  <li><b>Action</b> - defines "what" a patient needs to do</li>
</ul>

<p>Triggers can be <b>time</b> or <b>event</b> based.</p>
<p>Time-based example:<br>
[WHEN] A month after enrolling in the Care Plan,<br>
[WHAT] The patient must schedule a visit with their primary care provider.</p>
<p>Event-based example:<br>
[WHEN] In the case of feet swelling<br>
[WHAT] The patient must schedule a visit with a Podiatrist.</p>

<img src="/static/img/projects/authoring/components.png" alt="Care Plan components">
<figcaption>Care Plan components</figcaption>

<h4>The backbone</h4>

<p>Since we decided to keep the product simple for now, with the help of our doctor network we identified a list of the most crucial action and trigger types.</p>

<img src="/static/img/projects/authoring/restrictions.png" alt="List of the most crucial action and trigger types">
<figcaption>List of the most crucial action and trigger types</figcaption>

<h2>A bit of detour...</h2>

<p>Although we wanted to design and build the product with the requirements, specification, and feedback of the product's users, some stakeholders of the project came into the project with a few concepts already in mind. So we initially explored some of their ideas:</p>

<div class="slideshow-container">
  <img src="/static/img/projects/authoring/iteration1-a.png">
  <img src="/static/img/projects/authoring/iteration1-b.png">
  <figcaption>Wireframes from exploring stakeholders' ideas</figcaption>
</div>

<p>These ideas that were proposed by the stakeholders had no visualization of how the actions and triggers were laid out. And it was complex. The screens below were the attributes defined for this version:</p>

<div class="slideshow-container">
  <img src="/static/img/projects/authoring/iteration2-b.png">
  <img src="/static/img/projects/authoring/iteration2-a.png">
</div>

<p>Fortunately, the stakeholders understood that this was different from what the actual users (the doctors) needed. So I was able to start designing with research and user feedback.</p>

<h2>Design Process</h2>

<div class="slideshow-container">
  <img src="/static/img/projects/authoring/sketch-01.png">
  <img src="/static/img/projects/authoring/sketch-02.png">
  <figcaption>Sketches and notes</figcaption>
</div>

<p>One of the first things I learned as I started was to assume little and to ask a lot. My assumption in the targeted user group was wrong. When I interviewed the actual user group, they provided lots of information that directly affected the design. For example, because of the tight and hectic schedules of doctors and the software they were already used to, they preferred UI elements to be bigger, bolder, and <b>more obvious</b>. They loved color-coding and highlighted clickable areas. They wanted the software to just work, and not be another tool they have to <i>learn</i>.</p>

<div class="slideshow-container">
  <img src="/static/img/projects/authoring/iteration3-a.png">
  <img src="/static/img/projects/authoring/iteration3-b.png">
  <figcaption>First iterations. Not obvious enough.</figcaption>
</div>

<h2>Final Design ✨</h2>

<h4>Creating a new Care Plan and adding an action</h4>
<div class="slideshow-container">
  <img src="/static/img/projects/authoring/FINAL1-a.png">
  <img src="/static/img/projects/authoring/FINAL1-b.png">
  <img src="/static/img/projects/authoring/FINAL1-c.png">
</div>

<h4>Adding a trigger and developing it further</h4>
<div class="slideshow-container">
  <img src="/static/img/projects/authoring/FINAL2-a.png">
  <img src="/static/img/projects/authoring/FINAL2-b.png">
  <img src="/static/img/projects/authoring/FINAL2-c.png">
</div>

<h2>Next Steps</h2>
<p>There are still a number of features and enhancements the tool needs. Most importantly, we need to support more medical conditions. And one of the most requested features was adding keyboard shortcuts to make managing Care Plans more efficient.</p>
