<p>
  I started brainstorming and designing this conceptual budget app after being an avid user of <a href="http://www.dailybudget.de/" target="_blank">Daily Budget</a>.
</p>

<h2>Inspiration</h2>
<p>
  One of the first things I struggled with after graduating from college was budgeting. "Saving up" was a common concept but "budgeting" seemed so foreign. I knew I wanted to save up but I didn't know how.
</p>

<p>
  So I tried a few budgeting apps. I wanted to focus on saving up. Many apps focused on spending analysis (which I didn't need much since I already knew where I spent more than I should -- coffee and shopping), while lacking in core, simple budgeting features. Also, those apps wanted to automate everything and wanted more information than what I was comfortable providing. Overall, those apps felt much heavier than what I needed them to be while not getting the core budget functionality right.
</p>

<p>The problem I wanted to solve was to create a budgeting app that fit the following criteria:</p>
<ul>
  <li>Easy to create a budget and add expenses and income</li>
  <li>No need to link my cards and banking information</li>
  <li>No signing up</li>
  <!-- <li>Support budget sharing with others (e.g. significant other)</li> -->
</ul>

<h2>Design Process</h2>
<p>There were multiple facets to the product: onboarding, recording spendings, analytics, and connecting with other devices. It was important to carefully adjust to these layers but keep the design simple and quickly learnable.</p>

<img class="project-image" src="/static/img/projects/budget/sketch.png" alt="Budget app initial sketches.">

<h3>Initial Take</h3>
<p>
  Initial take was more visual and analytics-focused, as shown on the preliminary mocks below. It was simple and easy to use, but placed analytics at the same importance as the basic features. The charts and graphs made the application pretty but it added additional complexity to the app which was against my criteria. Sure, understanding the spending and saving patterns are important but it didn't solve my problem.
</p>
<img src="/static/img/projects/budget/budget-0-old.png" alt="Initial take. It was more visual and analytics focused, which was pretty but didn't solve my problem.">
<figcaption>Budget app, initial take</figcaption>

<h3>Rethinking 🤔</h3>
<p>
  Then I questioned the structure of daily budget. Shouldn’t it be more specific? Knowing how much I can spend in certain categories seemed more useful. For instance, there should be a weekly budget given for eating out or groceries.
</p>
<p>
  Yet, this direction clashed with the concept of daily budgeting and raised complexity in onboarding process. So, instead of trying to come up with a new and innovative way of recording and viewing spendings, I focused on simplifying the steps and provide the connection feature.
</p>

<h2>Final Design</h2>
<video class="budget-video" src="/static/img/projects/budget/full.mp4" type="video/mp4" preload="metadata" controls></video>

<h3>Adding expenses</h3>
<p>
  Adding expenses or extra income should be simple. This behavior should feel seamless and effortless to users. Hence, I wanted to simplify and condesne some of the steps and provide visual queus with colors.
</p>
<video src="/static/img/projects/budget/adding_expense.mov" controls></video>
<p>
  Tap the minus button (or the plus for extra income) and choose from the default categories, such as coffee, groceries, gas, and others. These categories can be edited and users can add new categories.
</p>
<p>
  Then, enter the amount spent. Notes can be added for more detailed categorization.
</p>
<p>Entered activities are listed by time and color-coded based on the category.</p>

<img src="/static/img/projects/budget/budget-1-adding expenses.png" alt="Adding expenses.">
<img src="/static/img/projects/budget/budget-2-adding expenses.png" alt="Adding expenses.">

<h3>Connecting with other devices</h3>
<p>
  One of the core features of the design was connecting and syncing data with other devices. There are two ways to connect: duplicate your data to another device or retrieve data from a different device.
</p>

<video src="/static/img/projects/budget/connect_01.mov" controls></video>

<p>
  <b>Copy and share your budget</b><br>
  A passcode will be generated for connecting with other devices. This code can be sent via messages and must be entered on the designated device to duplicate and retrieve data.
</p>
<img src="/static/img/projects/budget/budget-3-connecting.png" alt="Copy and share your budget">
<figcaption>Copy and share your budget</figcaption>

<p>
  <b>Retrieve budget from another device</b><br>
  Enter the 4-digit code when accessing data on another device. Since a new set of data is being added, users will be prompted to either keep or replace the current data.
</p>
<img src="/static/img/projects/budget/budget-4-connecting.png" alt="Adding expenses.">
<figcaption>Retrieve budget from another device</figcaption>

<h2>Next Steps</h2>
<p>
  Onboarding and analytics are not part of design mocks yet. Onboarding pages feature establishing recurring payments and goal for monthly saving. These are the first steps users would complete. Analytics will show future projections and spending patterns.
</p>