<h2>Inspiration</h2>
<p>
  One of the first things I struggled with after graduating from college was budgeting. "Saving up" sounded easy but by the end of the month, I was always at a net zero. I wasn't sure how to set finance goals, observe my spending pattern, and analyze them based on categories. I tried some finance/budget apps like <a href="https://www.mint.com/" target="_blank">Mint</a> and <a href="https://itunes.apple.com/us/app/daily-budget-original-fastest/id651896614?ign-mpt=uo%3D8" target="_blank">Daily Budget</a> but nothing totally satisfied my needs.
</p>
<p>Those apps were definitely good and feature-ful but I had my own criteria:</p>
<ul>
  <li>Simple and easy to use</li>
  <li>Follows the daily budget method</li>
  <li>Super easy and fast to add transactions, but only manually (manually keeping track of transactions helps me be more aware of my budget)</li>
  <li>No need to link my finance information to the application (credit cards, bank accounts, etc.)</li>
  <li>No signing up</li>
  <li>Sync data with other phones</li>
</ul>
<p>Apps like Mint were definitely too complex and required all my financial data with which I didn't feel comfortable. Daily Budget fit my needs the best, but it didn't sync with other phones without using iCloud and I hate using iCloud and didn't want to use iCloud just for this app. :/. Being able to sync is a must-have feature for me because my husband and I have combined our finances and are on a single budget.</p>

<h2>Design Process</h2>
<p>There were multiple facets to the product: onboarding, recording transactions, analytics, and connecting with other devices. It was important to carefully adjust to these layers but keep the design simple and quickly learnable.</p>
<a href="/static/img/projects/budget/sketch.png" target="_blank">
  <img class="project-image" src="/static/img/projects/budget/sketch.png" alt="budget app sketches">
</a>

<div class="project-details-container">
  <h3>Initial Take</h3>
  <div class="project-details-third text">
    My initial take was to be more visual and analytics-focused, as shown on the preliminary mocks. Understanding the spending and saving patterns seemed as important as recording the daily expenses. But after more using the Daily Budget app more, I found that I rarely ever looked at the analytics and cared most about "how much budget do I have left?".
  </div>
  <div class="project-details-third">
    <a href="/static/img/projects/budget/old1.png">
      <img src="/static/img/projects/budget/old1.png" alt="initial mock 1 for budget app">
    </a>
  </div>
  <div class="project-details-third">
    <a href="/static/img/projects/budget/old2.png">
      <img src="/static/img/projects/budget/old2.png" alt="initial mock 2 for budget app">
    </a>
  </div>
</div>
<div class="project-details-container">
  <h3>Second Round</h3>
  <div class="project-details-third text">
    <p>After removing the analytics from the main page, I questioned the structure of a daily budget: shouldn't it be more specific? Knowing how much I can spend in certain categories seemed more useful. For instance, there could be a weekly budget for eating out or groceries.</p>
    <p>But this direction clashed with the daily budgeting method and increased the complexity of the application.</p>
    <p>So instead of trying to come up with a new and innovative way of recording and viewing spendings, I focused on simplification and adding the main feature missing from Daily Budget, sync.</p>
  </div>
  <div class="project-details-third">
    <a href="/static/img/projects/budget/old3.png">
      <img src="/static/img/projects/budget/old3.png" alt="initial mock 3 for budget app">
    </a>
  </div>
</div>

<h2>Final Mock</h2>
<div class="centered-text">
  <video class="budget-video" src="/static/img/projects/budget/full.mp4" type="video/mp4" preload="metadata" controls></video>
</div>

<h2>Interactions</h2>
  <h3>Adding Expenses</h3>
  <div class="budget-interaction-container centered-text">
    <div class="budget-interaction video">
      <video src="/static/img/projects/budget/adding_expense.mov" controls></video>
    </div>
    <div class="budget-interaction text">
      Adding expenses or extra income should be simple. This behavior should feel seamless and effortless. In here, I tried to simplify and condense some of the steps and provide visual queues with colors.
    </div>
  </div>
  <div class="budget-interaction-container">
    <div class="project-details-quarter">
      Tap the minus button (or the plus button for extra income) and choose from the default categories, such as coffee, groceries, gas, etc. These categories can be edited and users can add new categories.
    </div>
    <div class="project-details-quarter">
      <a href="/static/img/projects/budget/expense-0.png">
        <img src="/static/img/projects/budget/expense-0.png" alt="budget expense 0">
      </a>
    </div>
    <div class="project-details-quarter">
      <a href="/static/img/projects/budget/expense-1.png">
        <img src="/static/img/projects/budget/expense-1.png" alt="budget expense 1">
      </a>
    </div>
    <div class="project-details-quarter">
      <a href="/static/img/projects/budget/expense-2.png">
        <img src="/static/img/projects/budget/expense-2.png" alt="budget expense 2">
      </a>
    </div>
  </div>
  <div class="project-details-half">
    <p>Then, enter the amount spent. Notes can be added for more detailed categorization.</p>
    <p>Activity is logged and listed by time and color-coded based on the category. The activities view is accessible from the main menu.</p>
  </div>
  <div class="budget-interaction-container">
    <div class="project-details-quarter">
      <a href="/static/img/projects/budget/expense-3.png">
        <img src="/static/img/projects/budget/expense-3.png" alt="budget expense 3">
      </a>
    </div>
    <div class="project-details-quarter">
      <a href="/static/img/projects/budget/expense-4.png">
        <img src="/static/img/projects/budget/expense-4.png" alt="budget expense 4">
      </a>
    </div>
    <div class="project-details-quarter">
      <a href="/static/img/projects/budget/expense-5.png">
        <img src="/static/img/projects/budget/expense-5.png" alt="budget expense 5">
      </a>
    </div>
    <div class="project-details-quarter">
      <a href="/static/img/projects/budget/activities.png">
        <img src="/static/img/projects/budget/activities.png" alt="budget activities">
      </a>
    </div>
  </div>

  <div class="project-details-container">
    <h3>Connecting with Other Devices</h3>
    <h4>Sending the passcode</h4>
    <div class="budget-interaction-container centered-text">
      <div class="budget-interaction video">
        <video src="/static/img/projects/budget/connect_01.mov" controls></video>
      </div>
      <div class="budget-interaction text">
        A passcode is used to allow other devices to sync with your budget. This code is sent via text message and must be entered on this application on the designated device.
      </div>
    </div>
    <div class="budget-interaction-container">
      <div class="project-details-third">
        <a href="/static/img/projects/budget/connect.png">
          <img src="/static/img/projects/budget/connect.png" alt="budget connect">
        </a>
      </div>
      <div class="project-details-third">
        <a href="/static/img/projects/budget/send_code.png">
          <img src="/static/img/projects/budget/send_code.png" alt="budget send code">
        </a>
      </div>
      <div class="project-details-third">
        <a href="/static/img/projects/budget/send_success.png">
          <img src="/static/img/projects/budget/send_success.png" alt="budget send success">
        </a>
      </div>
    </div>
    <h4>Syncing</h4>
    <div class="budget-interaction-container centered-text">
      <div class="budget-interaction video">
        <video src="/static/img/projects/budget/connect_02.mov" controls></video>
      </div>
      <div class="budget-interaction text">
        Enter the 4-digit code to sync with another device. Since a new budget is being added, the user will be prompted to either keep or replace the current budget
      </div>
    </div>
    <div class="budget-interaction-container">
      <div>
        <div class="project-details-quarter">
          <a href="/static/img/projects/budget/retrieve.png">
            <img src="/static/img/projects/budget/retrieve.png" alt="budget retreive 0">
          </a>
        </div>
        <div class="project-details-quarter">
          <a href="/static/img/projects/budget/retrieve-3.png">
            <img src="/static/img/projects/budget/retrieve-3.png" alt="budget retreive 1">
          </a>
        </div>
        <div class="project-details-quarter">
          <a href="/static/img/projects/budget/retrieve-4.png">
            <img src="/static/img/projects/budget/retrieve-4.png" alt="budget retreive 2">
          </a>
        </div>
        <div class="project-details-quarter">
          <a href="/static/img/projects/budget/retrieve-6.png">
            <img src="/static/img/projects/budget/retrieve-6.png" alt="budget retreive 3">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<h2>Rendering</h2>
<a href="/static/img/projects/budget/rendering2.png">
  <img src="/static/img/projects/budget/rendering2.png" alt="budget rendering2" class="project-image">
</a>
