<p>Every Caltrain communter has one of these Caltrain schedule apps. I downloaded <a href="https://twitter.com/caltrainme" target=_blank>Caltrain Me</a> few days after moving to the Bay Area. The app is nice -- it does its job. Perhaps it does too many things and that's what challenged me to rethink the app.</p>

<p>In the beginning, my goal was simple: to make the app look better visually. So I sketched some stuff and jumped right into it. The logo and the mocks were done in just a few days. I believe that I was onto something big until I built an interactive mock on InVision and showed it to my friends for feedback (really hoping to get some clap emojis). But nobody seemed to be very excited, saying that "it looks nice". So I thought about it for a bit and found out that the app was exactly the same as the existing app, but in a different color scheme and font. That's nice, but not actually needed. I looked through my sketchbook and walked my trail of thoughts to see what went wrong.</p>

<img src="/static/img/projects/caltrainme/caltrainme_2.jpg" alt="old mock for caltrain me redesign" class="project-image project-image-in-text image-width-70">

<p>After I got used to commuting to San Francisco, I rarely used the CaltrainMe app. I knew exactly which trains I had to take because there is only one bullet train per hour in the morning. I chose my audience as me when redesigning the app; I was designing for myself. Then one day, I was working from home and got to observe my husband frantically getting ready in the morning and missing the train. It was dramatic. No alarm set, my husband wakes up by his natural body alarm, or whenever. He washes up, gets ready, and then checks the app to see which train he can take. If he sees that there is a train leaving in a few minutes, he runs. My husband uses the app daily. There are a lot more trains going to Palo Alto than San Francisco from Redwood City so he doesn’t depend on one train or memorize the train schedule. If the first version was a strict UI project, second version was more holistic. It’s geared towards daily users whose sole concern is when the next train will arrive. </p>

<h2>Final Mock</h2>
<div class="project-detail-iframe-container">
  <iframe width="456" height="940" src="//invis.io/MF3BR3RJC" frameborder="0" allowfullscreen class="project-detail-iframe"></iframe>
</div>

<h2>Preliminary Sketches</h2>
<img src="/static/img/projects/caltrainme/sketches.png" alt="preliminary sketches for caltrain me" class="project-image image-width-100">
<p>Second iteration focused more havily on siimplifying the usability and enhancing visibility. I wanted to condense a lot of unnecessary steps in the existing app to make the work flow more cohesive. In addition, I wanted to establish a better information hierarchy. I realized current app doesn’t emphasize or stress certain information enough. After observing travel itineraries and ticket mockups for a reference, I wanted to </p>

<h2>Workflow</h2>
<img src="/static/img/projects/caltrainme/sketches.png" alt="workflow image for caltrain me" class="project-image image-width-100">

<h2>Annotated Diagram</h2>
<img src="/static/img/projects/caltrainme/local_disection.png" alt="annotated diagram for caltrain me" class="project-image image-width-100">

<h2>Mandatory In-Hand Shot</h2>
<img src="/static/img/projects/caltrainme/rendering.png" alt="mandatory in-hand shot for caltrain me" class="project-image image-width-100">
