<p><a href="https://twitter.com/caltrainme" target="_blank">CaltrainMe</a> is a schedule app for Caltrain that runs along the Bay Area peninsula. It’s a handy app for those who commute via Caltrain on daily basis. It provides instant schedule, ride alerts, timetable, nearest station, and favorite stops. Yet, among these features I noticed that a lot of people only use a couple; mainly the instant schedule to see when the next train is coming and ride alerts on train delays. The app is nice—it does its job; perhaps a little too much.  Its features include instant schedule, ride alerts, timetable, nearest station, and favorite stops. However, I noticed that only a couple of these features were actually used by many users. That’s what challenged me to rethink the app.</p>

<img src="/static/img/projects/caltrainme/caltrainme_2.jpg" alt="old mock for caltrain me redesign" class="project-image project-image-in-text image-width-70">
<p class="project-image-caption">An iteration of CaltrainMe which looked okay but didn't solve anything.</p>

<p>Although it was just a personal project that I started for fun, I wasn’t satisfied after the initial design. It looked better than the current app but I wasn’t sure if it was necessarily better. Then I thought about how I used the app again. I usually check for the two stations, Redwood City and San Francisco. The only other feature I use is Riders Advisories for delays, which is a live feed from the Caltrain twitter account. The first thing I want to see when opening the app is the time for next train. Based on these priorities and behavior, I gave another try.</p>

<h2>Final Mock</h2>
<div class="project-detail-iframe-container">
  <iframe width="456" height="940" src="//invis.io/MF3BR3RJC" frameborder="0" allowfullscreen class="project-detail-iframe"></iframe>
</div>

<h2>Design Process</h2>
<p>My initial goal was to make the app look lighter and faster. Yet, I soon realized that this design challenged needed more than just some visual changes. Before jumping into designing or even sketching, I went through these procedures to fully understand the existing app:</p>
<ol>
  <li>Observation and Research</li>
  <li>Analysis on priorities and behavior</li>
  <li>Elimination or Addition of features</li>
</ol>

<p>Based on these following findings, I reconstructed information hierarchy, page layout, and features:</p>
<ul>
  <li>Most used the app to see when the next train was coming for their default station</li>
  <li>Riders Advisories or Caltrain Twitter feed was very important during train delays</li>
  <li>Color coding different train types do help (bullet vs local)</li>
  <li>Scroll behavior for selecting stations can be sometimes cumbersome</li>
</ul>

<p>After researching, I decided to focus improving the design for the average Caltrain commuter, whose origin and destination rarely change although the times in which they take the train may change from day to day.</p>

<h2>Preliminary Sketches</h2>
<img src="/static/img/projects/caltrainme/sketches.png" alt="preliminary sketches for caltrain me" class="project-image image-width-100">

<h2>Workflow</h2>
<img src="/static/img/projects/caltrainme/wf2.png" alt="workflow image for caltrain me" class="project-image image-width-100">
<p>The newly designed workflow is very 1-dimensional and simple: the user inputs their origin/destination stations and is provided with the next train they could take to get to their destination. The user could swipe in the results view upcoming trains. After the initial origin/destination input, the app would default to showing the results page when the app is opened.</p>

<h2>Comparisons to the Old CaltrainMe</h2>
<img src="/static/img/projects/caltrainme/comparison.png" alt="comparison image for caltrain me" class="project-image image-width-100">
<p class="project-image-caption">Three views of the old design are combined into one</p>

<h2>Annotated Diagram</h2>
<img src="/static/img/projects/caltrainme/local_disection.png" alt="annotated diagram for caltrain me" class="project-image image-width-100">
<p>Key Features and Differences</p>
<ul>
  <li>Many features of the old CaltrainMe removed to support one workflow</li>
  <li>Cohesive Caltrain Twitter feed integration</li>
  <li>In-app display of relevant delays</li>
  <li>Much easier display of the type of train (bullet, local, etc.)</li>
  <li>Changed information hierarchy to emphasize important text and images</li>
</ul>

<h2>Mandatory In-Hand Shot</h2>
<img src="/static/img/projects/caltrainme/rendering.png" alt="mandatory in-hand shot for caltrain me" class="project-image image-width-100">
