<p>Cellar 55 is a redesign of an existing wine archive by SommSelect, a website that sells one wine a day. My husband and I have been a huge fan of the site and the sommelier behind it; each wine is presented with beautiful descriptions, great stories of the winery, and mouthwatering tasting notes. Hence, we were thrilled when we were given a permission to archive their data for personal purposes. We used the wine entries as a study guide--to learn more about the different varietals, wineries, regions, and tasting methods. </p>

<a href="/static/img/projects/cellar/screen_1.png" target="_blank">
  <img src="/static/img/projects/cellar/screen_1.png" alt="Current wine archive on SommSelect" class="project-image image-width-80">
</a>

<p class="project-image-caption">Current wine archive on SommSelect</p>

<a href="/static/img/projects/cellar/screen_2.png" target="_blank">
  <img src="/static/img/projects/cellar/screen_2.png" alt="List view of the current archive" class="project-image image-width-80">
</a>
<p class="project-image-caption">List view of the current archive</p>

<p>Then one day, when I saw the archive SommSelect has launched, I couldn’t hide my disappointments. All the filters were very difficult to use and the list was hard to read. Most importantly, the archive wasn’t fully archiving! Filters were hard coded and anything that did not match with them would be rejected and not archived. </p>
<p>So my husband and I decided to make a new archive. </p>

<h2>Approach</h2>
<p>First step in approaching this project was to define the problem and targeted user group.</p>
<h3>Defining the problem</h3>
<p>While using the existing archive, these are some of the issues I ran into:</p>
<ul>
  <li>All the filters are formatted in dropdown style, which is very difficult to use.</li>
  <li>Hard coded filters: if item does not match the categories within the hard coded filters, it won't get archived.</li>
  <li>Because of the dropdown style, multi-selection is impossible. This limits the search behavior.</li>
  <li>List view of all the wines is difficult to see and navigate.</li>
  <li>There is no indication on the number of results.</li>
</ul>
<h3>Finding the targeted user group</h3>
<p>For this project specifically, it was critical to establish a targeted user group. This decision was made carefully because when I tried to cater to a wider audience, education became a very large part of the product. And education was not something I wanted to focus for the initial launch. Hence, ideal group of users would be those who have familiarity to the SommSelect product and some degree of knowledge in wine.</p>

<a href="/static/img/projects/cellar/pres_1.png" target="_blank">
  <img src="/static/img/projects/cellar/pres_1.png" class="old-pres-img">
</a>

<a href="/static/img/projects/cellar/pres_2.png" target="_blank">
  <img src="/static/img/projects/cellar/pres_2.png" class="old-pres-img">
</a>

<a href="/static/img/projects/cellar/pres_3.png" target="_blank">
  <img src="/static/img/projects/cellar/pres_3.png" class="old-pres-img">
</a>

<a href="/static/img/projects/cellar/pres_4.png" target="_blank">
  <img src="/static/img/projects/cellar/pres_4.png" class="old-pres-img">
</a>

<a href="/static/img/projects/cellar/pres_5.png" target="_blank">
  <img src="/static/img/projects/cellar/pres_5.png" class="old-pres-img">
</a>

<a href="/static/img/projects/cellar/pres_6.png" target="_blank">
  <img src="/static/img/projects/cellar/pres_6.png" class="old-pres-img">
</a>
<p class="project-image-caption">Some framework from earlier stages. I created a brief guide book of the initial steps I took in approaching the project. </p>

<h2>Preliminary Mocks</h2>
<a href="/static/img/projects/cellar/pre-mock1.png" target="_blank">
  <img src="/static/img/projects/cellar/pre-mock1.png" class="old-pres-img">
</a>
<a href="/static/img/projects/cellar/pre-mock2.png" target="_blank">
  <img src="/static/img/projects/cellar/pre-mock2.png" class="old-pres-img">
</a>
<a href="/static/img/projects/cellar/pre-mock3.png" target="_blank">
  <img src="/static/img/projects/cellar/pre-mock3.png" class="old-pres-img">
</a>
<a href="/static/img/projects/cellar/pre-mock4.png" target="_blank">
  <img src="/static/img/projects/cellar/pre-mock4.png" class="old-pres-img">
</a>

<p>When I got to the preliminary iterations, I often found myself going off tangent. I was too excited with the fact that I could do so many different things with this data set! I could create a location-based platform or a wine and food pairing site. There were too many. </p>
<p>Yet, these didn’t fulfill the specs and goals I had established earlier. In the beginning, I simply wanted to create a great wine archive with thorough filters, great search, and accessibility. Also, I couldn’t really move forward with these mocks. Even though I was excited to try something new, because I didn’t have the foundation laid out (meaning, the problem, specs, goals, persona and other important stuff I had determined in the earlier stage). So whenever I saw myself going off track, I reminded myself with the initial goals. </p>

<h2>Design Decisions</h2>
<ul>
  <li>Filters reflect the data!
    <ul>
      <li>All filters are created by the information of wines. For instance, if there is a new wine with a new varietal, that varietal will be added to the filters. </li>
    </ul>
  </li>
  <li>
    Filters are located on the side of the page, instead of being on top of the page.
    <ul>
      <li>Having it on the side and collapsible enhances the reading experience.</li>
      <li>Structurally, because the filters can be lengthy, it was important to separate the filters and list sections. I did not want the lengthy filters to interfere with the list.</li>
    </ul>
  </li>
  <li>
    Multi-selection is available. 
    <ul>
      <li>Because the filters are not in the dropdown format, users can now multi-select. You can search for Pinot Noir and Cabernet Sauvignon from 2009 to 2015 now.</li>
    </ul>
  </li>
  <li>
    Clear all option
    <ul>
      <li>No need to worry about un-clicking all the items selected.</li>
    </ul>
  </li>
  <li>Search within results</li>
  <li>
    Number of results available on the top right corner 
    <ul>
      <li>It’s useful to know how many items you’d be scrolling through or how long the page is. </li>
    </ul>
  </li>
  <li>
    Color-coded based on wine types.
    <ul>
      <li>
        Having a visual queue helps confirming the search 
      </li>
    </ul>
  </li>
</ul>

<h2>Final Design</h2>
<div class="launch-site">
  <a href="http://cellar55.suchanlee.com/" target="_blank" class="cellar-link"><img src="/static/img/projects/cellar/air_mockup-02.png" class="launch-img"></a>
  <div class="overlay-wrap">
    <div class="overlay">LAUNCH SITE</div>
  </div>
</div>

<h2>Next Steps</h2>
<ul>
  <li>Incorporate helpful tips on the filters.
    <ul>
      <li>Having a “view on the map” option for regions</li>
      <li>Indicating the number of entries for each varietal </li>
    </ul>
  </li>
  <li>
    Remove the Apply Filters button
    <ul>
      <li>I’ve received a few feedback that having to click the button enable the search seems unnecessary. </li>
    </ul>
  </li>
  <li>
    Product page
    <ul>
      <li>Incorporate more information of the winery (direct link to winery site, map, images, etc.) </li>
      <li>Provide food pairing and recipes</li>
    </ul>
  </li>
</ul>
