<p>Chrome design is utilitarian, simple, and light. Yet, if there is one thing I dare to pick on, I really don’t like how the download flow works. When you click “Save Image As…” option on the right click toggle, you get a giant, ugly looking arrow on the left side. It sure does call your attention to the downloads bar on the bottom of your browser. Yet, it’s not the ugly arrow that I hate the most. It’s the downloads bar that suddenly comes up after you download one thing and decides to stay there as if it expects you to download more files. Also, the downloads bar becomes arbitrary if there are a lot of downloaded files. It collapses previously downloaded files so that you can’t really see them but can tell that you’ve downloaded a lot of stuff.</p>

<h2>The Problem</h2>
<img src="/static/img/projects/chromedl/screenshot01.png" alt="chrome current download ui" class="project-image image-width-80">
<p class="project-image-caption">Is that download bar needed when there is only one downloaded item?</p>

<p>Besides the “right click and save as” route as all browsers share for downloading, Chrome’s download flow begins by a giant arrow sliding down on the left. When your eyes follow the arrow, you land on the downloads bar on the bottom of the browser. Most recently downloaded file is on the far left side (corresponding with the arrow location). When the download begins, file format icon illuminates with green module. Once finished, the green module disappears and now you can choose the next action from Open or Open in Finder. If you look carefully, there is a Show All button on the far right next to the Close button. Show All directs you to your Downloads history page where you can access all the downloaded items. They are listed chronologically with URL.</p>

<img src="/static/img/projects/chromedl/screenshot02.png" alt="Ugly downloads page" class="project-image image-width-80 project-image-in-text">
<p>This is frustrating because it not only clutters the download behavior and usage but also hides some useful features. Chrome has Downloads page where you can see the history of your downloads. It shows the URL and the file itself so even if you empty out your Downloads folder, you can search for it there.</p>


<h2>Sketches</h2>
<img src="/static/img/projects/chromedl/chromedlsketches.png" alt="Sketches for the chrome download redesign" class="project-image image-width-100">

<h2>Final Mockup</h2>
<img src="/static/img/projects/chromedl/full.png" alt="Final mockup for chrome download redesign" class="project-image image-width-100">
<p>The very first thing I wanted to do was to remove the download bar on the bottom of the screen. What does the download bar really show? It has recently downloaded files, quick access to downloads history, and status of current download. Are these all necessary? Downloading progress is important but they don’t need to be present at all times. Hence, I decided to remove the bar and instead, I placed a menu icon for Downloads from which recent downloads can be accessed.</p>
<p>When a file is downloaded, a quick preview will come up on the upper right side. The download can be paused, canceled or resumed. Once download is finished, it will have two options available: Open or Open in Finder. Clicking on the Downloads icon in the menu bar will drop down recently downloaded files. Downloads history can also be accessed from the dropdown menu.
</p>

<h2>Design Details</h2>
<img src="/static/img/projects/chromedl/disection02-01.png" alt="Design details for chrome download" class="project-image image-width-100">
<p class="project-image-caption">Dissected view of the downloader</p>

<div class="project-image-in-text">
  <img class="project-image project-image-inline image-width-30" src="/static/img/projects/chromedl/Layer42.png" alt="Different states of download: downloading">
  <img class="project-image project-image-inline image-width-30" src="/static/img/projects/chromedl/Layer46.png" alt="Different states of download: one finished">
  <img class="project-image project-image-inline image-width-30" src="/static/img/projects/chromedl/Layer47.png" alt="Different states of download: both finished">
  <p class="project-image-caption">Different states of download (processing, completed, and paused)</p>
</div>

<img src="/static/img/projects/chromedl/recentdl.png" alt="Recent download view" class="project-image image-width-40">
<p class="project-image-caption">Recent downloads are available via Downloads tab in the menu bar. See All redirects to Downloads history page.</p>


