<p>Coffee Timer was designed to help make gourmet coffee easily at home. It has preset timer and instructions for various brewing methods, such as French Press, Hario V60, and Chemex. Users can also add customized timers that fit better with their own brewing method. Timer sets include suggested amounts of coffee and water, total brew duration, and other useful brewing information.</p>

<h2>Design Process</h2>
<a href="/static/img/projects/chromedl/screenshot01.png">
  <img src="/static/img/projects/chromedl/screenshot01.png" alt="chrome current download ui" class="project-image image-width-80">
</a>
<p class="project-image-caption">Preliminary sketches and mocks</p>
<p>Some challenges I faced while designing were</p>
<ul>
  <li>Displaying the different stages of brewing in a seamless, progressive manner</li>
  <li>Showcasing both progression of time and visual location of the queues on the radial path (i.e. at 30' mark, bloom stage stops)</li>
  <li>Displaying descriptions for the different brewing stages</li>
  <li>Supporting pausing and how to strategically place the pause button</li>
</ul>

<h2>Final Mock Video</h2>
<video src="/static/img/projects/coffee/final_mock.mp4" type="video/mp4" preload="metadata" controls></video>

<h2>Details</h2>
<h3>Timer disection</h3>
<a href="/static/img/projects/coffee/disection.png">
  <img src="/static/img/projects/coffee/disection.png" alt="details of the image" class="project-image">
</a>

<div class="coffee-details-container">
  <h3>Brewing options</h3>
  <div class="coffee-details-third text">
    <p>Coffee Timer comes with four preset brewing timers: Chemex, French Press, V60 and Aeropress. These timers feature brewing guides on different yield counts. For instance, the French Press timer caters to three general sizes of the French Press kettle.</p>
    <p>Users can also add customized timers by pressuing the Custom button on the main page.</p>
  </div>
  <div class="coffee-details-third">
    <a href="/static/img/projects/coffee/home.png">
      <img src="/static/img/projects/coffee/home.png" alt="coffee main page">
    </a>
  </div>
  <div class="coffee-details-third">
    <video src="/static/img/projects/coffee/frenchpress_full.mp4" type="video/mp4" preload="metadata" controls></video>
  </div>
</div>

<div class="coffee-details-container">
  <h3>Adding a custom brew</h3>
  <p>Users can add custom brew by selecting the Custom button from the menu.</p>
  <p>The name of the timer, total brew time, and other brewing notes (water, temperature, coffee amount, etc) can be edited. Then, using the circular motion on the radial timer pad, users can add the different brewing stages.</p>
  <div class="coffee-details-inner-container">
    <div class="coffee-details-third">
      <a href="/static/img/projects/coffee/custom1.png">
        <img src="/static/img/projects/coffee/custom1.png" alt="coffee timer custom brew create page">
      </a>
    </div>
    <div class="coffee-details-third">
      <a href="/static/img/projects/coffee/custom2.png">
        <img src="/static/img/projects/coffee/custom2.png" alt="coffee timer custom brew create page 2">
      </a>
    </div>
    <div class="coffee-details-third">
      <video src="/static/img/projects/coffee/custom.mp4" type="video/mp4" preload="metadata" controls></video>
    </div>
  </div>
</div>
