<p>For this project, I was asked to re-establish the dentist's identity and create branding materials. The branding kit consists of a business card, letterhead, and envelop, and graphics for other merchandises like mouthwash, floss, and pens that the patients can take home with them. A simple one-page website was designed and built to provide basic information about the dentist in both Korean and English.</p>

<div class="dentist-section">
  <a href="/static/img/projects/dentist/mockup_flat-04.png">
    <img src="/static/img/projects/dentist/mockup_flat-04.png" alt="branding kit" class="project-image">
  </a>
  <a href="/static/img/projects/dentist/mockup_flat-01.png">
    <img src="/static/img/projects/dentist/mockup_flat-01.png" alt="branding kit" class="project-image">
  </a>
  <div class="dentist-bcard-container">
    <a href="/static/img/projects/dentist/bcard-01.png">
      <img src="/static/img/projects/dentist/bcard-01.png" alt="branding kit" class="dentist-bcard">
    </a>
    <a href="/static/img/projects/dentist/bcard-02.png">
      <img src="/static/img/projects/dentist/bcard-02.png" alt="branding kit" class="dentist-bcard">
    </a>
  </div>
  <a href="/static/img/projects/dentist/mockup_flat-02.png">
    <img src="/static/img/projects/dentist/mockup_flat-02.png" alt="branding kit" class="project-image">
  </a>
  <a href="/static/img/projects/dentist/mockup_flat-03.png">
    <img src="/static/img/projects/dentist/mockup_flat-03.png" alt="branding kit" class="project-image">
  </a>
</div>
