<p><a href="https://gasbuddy.com" target=_blank>Gas Buddy</a> is a mobile app that locates cheapest gas stations around you by crowd sourcing the data. It’s very simple and is quite handy. However, its rather unpolished and busy UI challenged me to redesign the app to emphasize its simplicity and ease of use.
</p>

<h2>Search and Listing</h2>
<p>Simply type in your zip code or city. If you have your location services on, tap on Near Me to get started. I never knew the app had Near Me button until I examined it closely (the module with gas pump icon inside is a button, surprise!). Search should be simple and effective. Users shouldn’t have to think about what to do on the search page. Gas Buddy’s simplicity should encourage and guide users.</p>

<div class="project-image project-image-in-text image-width-90">
  <img src="/static/img/projects/gasbuddy/gasbuddy-search.png" alt="landing page for gasbuddy" class="image-side-by-side">
  <img src="/static/img/projects/gasbuddy/gasbuddy-results.png" alt="results page for gasbuddy" class="image-side-by-side">
</div>

<p>Primary goal for the listing page was to provide coherent hierarchy and concise information organization. After listing out all the components on the current app, I crossed off some that seemed unnecessary and labeled them by priority. Highest priority, to my knowledge when using the app, was the gas price. Users want to know which gas station has the lowest price. Other key components were name, distance, payment method, and location.</p>

<h2>Sketches and Iterations</h2>
<div class="project-image project-image-in-text image-width-90">
  <img src="/static/img/projects/gasbuddy/sketch.png" alt="sketch for gasbuddy" class="image-side-by-side">
  <img src="/static/img/projects/gasbuddy/iteration.jpg" alt="iterations for gasbuddy" class="image-side-by-side">
</div>
<p>I was mainly concerned with readability and hierarchy for the listing page. Hierarchy greatly affects legibility. If the information isn’t organized properly, it becomes very difficult to digest the content. Until the final mock, I’ve tried numerous layouts for the listing page. Also, through these iterations I was able to narrow down the content; I initially thought everything on the current app was significant to present.</p>

<h2>Gas Stations</h2>
<img src="/static/img/projects/gasbuddy/gasicons.png" alt="gas station icons for gasbuddy" class="project-image image-width-70">

<h2>Logo</h2>
<div class="project-image image-width-90">
  <img src="/static/img/projects/gasbuddy/logo-gasbuddy.png" alt="logo ideation for gasbuddy" class="image-side-by-side">
  <img style="border: 1px solid #eee" src="/static/img/projects/gasbuddy/logo-gasbuddy-reverse.png" alt="logo ideation for gasbuddy" class="image-side-by-side">
</div>

<h2>Logo Ideation</h2>
<img src="/static/img/projects/gasbuddy/logoideation.png" alt="logo ideation for gasbuddy" class="project-image image-width-70">
