<h2>Beauty Icons</h2>
<img src="/static/img/projects/icons/beauty_iconset-01.png" alt="beauty icons" class="project-image image-width-100">

<h2>Icons From Things I've Seen Lately</h2>
<img src="/static/img/projects/icons/lately_icons-01.png" alt="Icons from things I've seen lately" class="project-image image-width-100">

<h2>Miscellaneous Icons</h2>
<img src="/static/img/projects/icons/lately_icons-02.png" alt="Misc icons" class="project-image image-width-100">
