<p class="japan-trip-icons-text">Alphabet book of the things that I saw, drank, ate, and experienced during my Japan trip.</p>
<a href="/static/img/projects/japanalphabets/japan_iconset-01.png">
  <img src="/static/img/projects/japanalphabets/japan_iconset-01.png" alt="Japan Icon Set" class="project-image image-width-100">
</a>
