<p class="centered-text">Poster design iterations for the Just Show Up book club (poster content in Korean).</p>

<img src="/static/img/projects/justshowup/jsu3.png" alt="Iteration for the Just Show Up book club poster" class="project-image image-width-70">

<img src="/static/img/projects/justshowup/jsu2.png" alt="Iteration for the Just Show Up book club poster" class="project-image image-width-70">

<img src="/static/img/projects/justshowup/jsu1.png" alt="Iteration for the Just Show Up book club poster" class="project-image image-width-70">

<img src="/static/img/projects/justshowup/jsu4.png" alt="Iteration for the Just Show Up book club poster" class="project-image image-width-70">
