<p>
  In addition to creating a care plan, medical experts and staff needed a way to manage their patients. The interactive part of Care Plan encouraged the preventive care for patients. Doctors and staff could see patients’ progress and status. For patients with acute and sensitive conditions, this allowed the medical staff to closely monitor their health.
</p>

<h2>Problem</h2>
<p>
  Authoring Tool helped create holistic, interactive care package for doctors. What happens after patients enroll in a Care Plan? How do you achieve the actual “interactive” part of this care?
</p>
<p>
  This is where case managers come in. Case managers monitor and manage patients’ progress throughout their journey. I was tasked to design a tool for these case managers.
</p>

<h2>Research</h2>
<p>Our partner already had a group of case managers working with a few patients in managing their accute conditions. I was able to survey them and understand their day-to-day tasks and needs. It was important to understand their workflow because this type of management felt foreign to me. Yet, I realized later that other than the actual tasks, their workflow was very similar to the way we use JIRA or Trello to manage todo’s and tasks.</p>

<p>Based on a series of interviews with the potential users, I was able to create the following personas.</p>

<img src="/static/img/projects/mgmt/persona-1.png" alt="Personas based on research and interviews">
<figcaption>Personas based on research and interviews</figcaption>

<img src="/static/img/projects/mgmt/persona-2.png" alt="Personas based on research and interviews">
<figcaption>Personas based on research and interviews</figcaption>

<h2>Requirements</h2>
<p>From the user interviews and personas, I was able to find 3 big requirements:</p>

<ul>
  <li>Patient health records protected: It’s critical to keep patient health records protected. This means that only those with permission can see the patient information.</li>
  <li>Different workflows for roles: Director and case managers have significantly different workflows and permission settings. While directors are cleared to see information on all Care Plans and patients, case managers are not allowed. While directors manage Care Plans and case managers, case managers manage alerts for their own patients only.</li>
  <li>Ability to see overall population's progress.</li>
</ul>

<h2>Design Process</h2>

<p>Initially, there was a big emphasis on the dashboard feature. I was also drawn to creating some fun visualization on data, numbers, and graphs. Preliminary wireframes looked like this:</p>

<p>Initial wireframes received high praise from the client’s board. They were impressed by the idea of visualization on metrics and compliance rate.</p>

<img src="/static/img/projects/mgmt/iteration-1-a.png">
<img src="/static/img/projects/mgmt/iteration-1-b.png">

<h3>Problems with the “fancy” data visualization</h3>

<p>However, we found that the colorfully decorated diagrams and graphs were only impressive to those who probably won’t be use the tool. When we interviewed case managers and doctors, we found that this was not helpful nor feasible. This model assumes that a large number of population would be assigned to a Care Plan. However, case managers pointed out that they each work with only a few patients. Also, doctors debunked that it is impossible and ineffective to prescribe a single Care Plan to a large population.</p>

<p>The only suitable metric to compare among patients was compliance rate. Hence, besides the compliance rate, we decided to drop all the “fancy” visualization. Theywere nothing but eye candy. I worked more closely with our future users and did multiple design iterations.</p>

<img src="/static/img/projects/mgmt/iteration-2.png">

<p>Because majority of the dashboard features were removed from the beta launch, I decided to explore a bit more on the alert/task management part. At the time, we were using Trello with our client to track tasks and status. They really enjoyed using Trello because physically moving each card was delightful and the visual queue was clear. Until now I was pretty fixated on keeping the task management in a table format. So I tried exploring the swimlane view.</p>

<p>Ultimately, swimlane view received positive feedback internally and from the partner. However, due to development timeline, we decided to keep it till the next release.</p>

<h2>Final Design</h2>

<p>Based on the user type, main workflows are different.</p>

<p>Directors and admins:</p>
<ul>
  <li>Can see overall compliance rate per Care Plan</li>
  <li>Can see all patients in the Care Plans that they’re managing</li>
  <li>Can assign, deassign, or change case managers</li>
</ul>

<img src="/static/img/projects/mgmt/final-01.png">
<figcaption>What admin/directors see in the management tool</figcaption>

<img src="/static/img/projects/mgmt/final-02.png">
<figcaption>What admin/directors see in the management tool</figcaption>

<img src="/static/img/projects/mgmt/final-03.png">
<figcaption>What admin/directors see in the management tool</figcaption>

<p>Case managers:</p>
<ul>
  <li>Can only see the patients they’re assigned to</li>
  <li>Can work on alerts assigned to them</li>
  <li>They can message the patient</li>
  <li>They can notify the care provider</li>
  <li>They can mark the action done  </li>
</ul>

<img src="/static/img/projects/mgmt/final-11.png">
<figcaption>How case managers would see the alerts and clear them</figcaption>

<p>The management tool was designed to definitely cover all the workflows. When the design was more or so finalized, I tested against a set of use cases we collected from the users. It listed all the tasks users would go through. Basically these were the happy paths; all of these use cases had an end. I then also worked with engineers to cover all the edge and error cases. We wish that all paths are happy but made sure that users don’t run into a dead end.</p>

<h2>Retrospective</h2>
<p>Both of the Care Plans projects, the Authoring and Management tools, seemed like a huge wall in the beginning. My assumptions and design decisions weren’t always correct. That’s why it was important to have colleagues and users to continuously discuss, brainstorm, and guide me through the process. Because I worked together, the big wall turned into small stepping stones and we were able to hurdle through.</p>





