<p>The <a href="/projects/1/care-plans-authoring">Authoring tool</a> allows doctors to efficiently create Care Plans. But after creating and assigning it to patients, how can they actually keep track of patients' progresses outside the hospital?</p>

<p>The management tool, used by case managers or patient care team, monitors patient activities. In critical situations, the tool would alert and escalate the issue.</p>

<p>My goal in this project was to create the beta version of the management tool for the case managers.</p>

<div class="project-detail-divider"></div>

<h2>Target Users</h2>

<h4>Case managers</h4>
<p>Case managers monitor patients' activities in their Care Plans and triage them.</p>

<p>When a patient enrolls in a Care Plan, all of his or her activities in the Care Plan are captured by the Care Plans system. As described in the <a href="/projects/1/care-plans-authoring">Authoring tool</a> write up, a Care Plan is a collection of triggers and actions. For example, if a patient with Type 2 Diabetes' fasting glucose level is very high (trigger), he should talk to a doctor (action). But sometimes it shouldn't be the patient's sole responsibility to take action. It helps if the doctor is notified of it as well so that he can encourage the patient to come in for a visit. This is where case managers come in. When a Care Plan triggers an action, case managers are notified of it, so that they can triage the activity as needed.</p>

<h4>Case management directors</h4>
<p>Case management directors are responsible for assigning Care Plans to case managers and overseeing all enrolled patients' progress across different Care Plans.</p>

<div class="slideshow-container">
  <img src="/static/img/projects/mgmt/persona-1.png">
  <img src="/static/img/projects/mgmt/persona-2.png">
  <figcaption>Examples of personas based on research and user interviews</figcaption>
</div>

<div class="project-detail-divider"></div>

<h2>Steps</h2>

<h4>Exploring Requirements and Specs</h4>
<p>At the beginning of the project I was presented a set of requirements and specs. Based on those, I whipped up initial wireframes and workflows to our partner.</p>

<div class="slideshow-container">
  <img src="/static/img/projects/mgmt/iteration-1-a.png">
  <img src="/static/img/projects/mgmt/iteration-1-b.png">
  <figcaption>Initial wireframes based on requirements and specs</figcaption>
</div>

<p>The initial wireframes were well received by our partner's board, who were impressed with the metrics and compliance rate visualizations.</p>

<h4>Problems with "fancy" data visualizations</h4>
<p>Although well received by our partner's board members, after reviewing the designs with our actual target users, it was clear that the colorfully decorated diagrams and graphs did not provide much value to them.</p>

<p>Interviews with doctors and case managers showed that:</p>
<ul>
  <li>The visualizations not only did not help with their workflows, it wasn't even feasible because this model assumes that a large number of population would be assigned to the same Care Plan (so that the visualizations can be created per Care Plan)</li>
  <li>Case managers pointed out that they each only work with a few patients</li>
  <li>Doctors noted that it was impossible and inefficient to prescribe a single Care Plan to a large population, as patients' conditions differ and require different monitoring and treatment</li>
</ul>

<p>The only suitable metric to compare among patients was the compliance rate. So all other visualizations were removed. I started to work more closely with our actual target users and iterated.</p>

<h4>Back to the drawing board...</h4>

<p>Our partner already had a group of case managers working with a few patients in managing their acute conditions. I was able to survey them and understand their day-to-day tasks and needs. Their workflow was actually very similar to that of JIRA or Trello, which was triaging issues and managing tasks.</p>

<p>Based on a series of interviews with case managers, I created new iterations that reflected and supported their workflow.</p>

<div class="image-container">
  <img src="/static/img/projects/mgmt/iteration-2-a.png" alt="Task management iteration in table style">
  <figcaption>Table style iteration</figcaption>
</div>

<p>For the scheduled beta launch of this project, we decided to hold off on most of the dashboard features and focus mostly on the alerting and triaging workflows. At the time, our team was using Trello to keep track of tasks with our partner. They really enjoyed using Trello because physically moving each card was delightful and the visual queues were clear. So I tried exploring the swim lane workflow.</p>

<div class="image-container">
  <img src="/static/img/projects/mgmt/iteration-2-b.png" alt="Task management iteration in kanban style">
  <figcaption>Kanban style iteration</figcaption>
</div>

<p>The swim lane workflow received positive feedback internally and from our partner. <b>However, due to development timeline, we decided to keep it in table format until the next release.</b></p>

<div class="project-detail-divider"></div>

<h2 class="final-design">Final Design</h2>

<p>Based on the user type, main workflows are different.</p>

<h4>Case managers</h4>
<ul>
  <li>They can only see the patients they're assigned to</li>
  <li>They can work on alerts assigned to them</li>
  <ul>
    <li>They can message the patient</li>
    <li>They can notify the care provider</li>
    <li>They can mark the action finished</li>
  </ul>
</ul>

<div class="image-container">
  <img src="/static/img/projects/mgmt/FINAL1-a.png">
  <img src="/static/img/projects/mgmt/FINAL1-b.png">
  <img src="/static/img/projects/mgmt/FINAL1-c.png">
</div>

<h4>Case management directors</h4>
<ul>
  <li>They can see the overal compliance rate per Care Plan</li>
  <li>They can see all patients in the Care Plans they're managing</li>
  <li>they can assign, unassign, or change case managers</li>
</ul>

<div class="slideshow-container">
  <img src="/static/img/projects/mgmt/FINAL2-A.png">
  <img src="/static/img/projects/mgmt/FINAL2-B.png">
  <img src="/static/img/projects/mgmt/FINAL2-C.png">
</div>

<div class="slideshow-container">
  <img src="/static/img/projects/mgmt/FINAL3-A.png">
  <img src="/static/img/projects/mgmt/FINAL3-B.png">
</div>

<p>When the beta release's development neared its end, I tested it against a set of use cases we collected from interactions with our users. It listed all the tasks users would go through. We made sure that the engineers covered all the edge and error cases.</p>

<div class="project-detail-divider"></div>

<h2>Retrospective</h2>

<p>Both of the Care Plans projects, Authoring and Management, seemed like a huge wall in the beginning. My assumptions and design decisions weren't always correct. That's why it was important for me to have colleagues and users to continuously discuss, brainstorm, and guide me through the process. Because I worked together with our team and users, the big wall that seemed so high turned into small stepping stones and we were able to hurdle though.</p>
