<p>Yogo is an extremely simple and easy tool for creating and sending out one-time use polls. It provides an user-friendly UI for poll creation and an informative visualization of the results.</p>

<h2>The Story</h2>
<p>Yogo was started out as a project called <a href="http://bezzist.com" target="_blank">Bezzist</a> by a group of Cornell students in <a href="http://lifechanginglabs.com/" target="_blank">Life Changing Labs</a>. When Bezzist was first launched, it focused on creating and enhancing the Cornell campus community and was a very client-specific tool. The product catered to a specific group or an event’s needs. Eventually, the team stopped working on Bezzist due to low user-adoption. But one of the engineers in the project wanted to take it further and make it into a more general tool for poll creation. And I was asked to help.</p>
<img src="/static/img/projects/yogo/oldbezzist.png" alt="Screenshot of Bezzist" class="project-image project-image-in-text image-width-50">
<p class="project-image-caption">Screenshot of Bezzist</p>
<p>The result of that is Yogo, a professional yet simple tool with clean UI and friendly UX to create and use polls super fast. When designing Yogo, I focused on simplifying user behavior and providing coherent and useful data visualization.</p>

<p>User experience had to be simplified in this new move because Yogo no longer belongs to a certain community. Before, it was meant to be a community that features question of the day and its answers. Yet, it became clear that building a community solely with polls was far-fetched. Hence, for Yogo to be a long-standing platform, its experience must be very simple. There are some great examples of survey platforms, such as Doodle, Google Polls, and Survey Monkey. Our goal was to even more simplify the experience. One of the first steps in simplifying the user behavior was removing all barriers to entry. Bezzist required registration while the new Yogo doesn’t anymore. The team saw a major flaw in signing up because it reinforced a big decision point that users would likely withdraw from.</p>
<p>In addition to seamless experience, Yogo needed a great analytics and data visualization. Just because the app is simple, it doesn’t mean that the polls people make will be simple—some might make a poll with 30 different options to choose from. Breaking down and translating data into easily readable visuals would help users greatly and set aside Yogo from other poll services.</p>

<h2>Sketches</h2>
<img src="/static/img/projects/yogo/sketches.png" alt="Yogo sketches" class="project-image image-width-100">

<h2>Iterations</h2>
<img src="/static/img/projects/yogo/iterations.png" alt="Yogo iterations" class="project-image image-width-100">
<p>Before I got to the final mocks, I went through multiple iterations just on the landing page. It was crucial for me to understand the priority and hierarchy of the pages. Initially, I made something very similar to Doodle. It had a series of welcoming, tutorial, and set up pages until the actual poll page. At the time, I believed it was important to have a solid onboarding process to use the product and therefore the product became unnecessarily complicated. Then I realized Yogo should be simple enough that it does not need any onboarding process. Ultimately, I gutted away all the other pages but the poll page itself.</p>

<h2>Final Mock</h2>
<h3><a href="https://projects.invisionapp.com/share/MK41WRNA6#/screens" target="_blank">LINK TO INVISION MOCK</a></h3>
<img src="/static/img/projects/yogo/view1.png" alt="Yogo poll creation and home page" class="project-image project-image-in-text image-width-70">
<p class="project-image-caption">Poll creation and home page</p>
<img src="/static/img/projects/yogo/view2.png" alt="Yogo poll view" class="project-image project-image-in-text image-width-70">
<p class="project-image-caption">Poll view</p>
<img src="/static/img/projects/yogo/view3.png" alt="Yogo analytics" class="project-image project-image-in-text image-width-70">
<p class="project-image-caption">Poll analytics</p>

<h2>Detailed Interactions</h2>
<div class="yogo-detail">
  <img src="/static/img/projects/yogo/detail1_vote.png" alt="Yogo detailed interaction: vote" class="yogo-detail-image">
  <div class="yogo-detail-text">
    <h3>Vote</h3>
    <p>Clicking on the arrow on the left will count as a vote. Depending on the voting options, participants may be able to vote for multiple options.</p>
  </div>
</div>

<div class="yogo-detail">
  <img src="/static/img/projects/yogo/detail2_pw.png" alt="Yogo detailed interaction: password" class="yogo-detail-image">
  <div class="yogo-detail-text">
    <h3>Password lock for results</h3>
    <p>Based on preferences, results page may be password protected. Password can be set during creation process.</p>
  </div>
</div>

<div class="yogo-detail">
  <img src="/static/img/projects/yogo/detail3_share.png" alt="Yogo detailed interaction: share" class="yogo-detail-image">
  <div class="yogo-detail-text">
    <h3>Share</h3>
    <p>Yogo will generate an unique URL for your poll. Simply copy and paste the link to share with anyone, anywhere.</p>
  </div>
</div>

<div class="yogo-detail">
  <img src="/static/img/projects/yogo/detail4_export.png" alt="Yogo detailed interaction: export" class="yogo-detail-image">
  <div class="yogo-detail-text">
    <h3>Export</h3>
    <p>Want to save these data for further analysis? Export to CSV format.</p>
  </div>
</div>

<h2>Logo Ideation</h2>
<img src="/static/img/projects/yogo/logo+iterations.png" alt="Logo and iterations of Yogo" class="project-image project-image-in-text image-width-100">

<h2>Mandatory App-in-iMac Shot</h2>
<img src="/static/img/projects/yogo/mockup.png" alt="Yogo iMac shot" class="project-image project-image-in-text image-width-100">

