<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amy J Lee</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="apple-touch-icon-precomposed" href="/static/img/favicon.ico">
    <link rel="shortcut icon" href="/static/img/favicon.ico">

    <script src="/static/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="/static/js/vendor/handlebars.runtime.min.js"></script>

    <script src="//use.typekit.net/dcw5int.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  <body>

    <nav>
      <ul class="nav-list">
        <li class="logo"><a href="#">AMY J LEE</a></span></li>
        <li class="nav-list-item about-link"><a data-hover="ABOUT" href="/about">ABOUT</a></li>
        <li class="nav-list-item projects-link"><a data-hover="PROJECTS" href="/">PROJECTS</a></li>
      </ul>
      <div class="clear-float"></div>
    </nav>

    <section>
      <div class="project-detail"></div>
    </section>

    <section>
      <div class="about">
        <img src="/static/img/about/about_image.png" alt="about page image">
        <h1>Hi, there!</h1>
        <p>I'm Amy and I like designing beautiful things.</p>
        <p>Timeless products, heartwarming illustrations, and ingenious icons inspire me.</p>
        <p>I'm currently looking for new opportunities! <br>You can reach me via <a href="mailto:amyjlee43@gmail.com">email</a> <br>[ amyjlee43 at gmail.com ]</p>
      </div>
    </section>

    <section>
      <ul class="project-list"></ul>
      <div class="clear-float"></div>
    </section>

    <footer>
      <p>&copy; 2015 Amy J Lee</p>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Director/1.2.8/director.min.js"></script>
    <script src="/static/js/templates/projectItem.handlebars.js"></script>
    <script src="/static/js/templates/projectDetail.handlebars.js"></script>
    <script src="/static/js/templates/projects/caltrainMe.handlebars.js"></script>
    <script src="/static/js/templates/projects/icons.handlebars.js"></script>
    <script src="/static/js/templates/projects/gasbuddy.handlebars.js"></script>
    <script src="/static/js/templates/projects/yogo.handlebars.js"></script>
    <script src="/static/js/templates/projects/chromedownload.handlebars.js"></script>
    <script src="/static/js/templates/projects/japanIcons.handlebars.js"></script>
    <script src="/static/js/templates/projects/justshowup.handlebars.js"></script>
    <script src="/static/js/templates/projects/theexhibition.handlebars.js"></script>
    <script src="/static/js/plugins.js"></script>
    <script src="/static/js/main.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-47759489-2', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
